$desktop: 840px;
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin column-aligned {
  display: flex;
  flex-direction: column;
  align-items: center;
}

*,
*:before,
*:after {
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

// Colors:
$theme-green: #85a717;
$theme-magenta: #911d64;
$subtext: #4a4a4a;
$bg-gray: #f5f5f5;

$top-padding: 2rem;
$side-padding: 1.5rem;
$header-height: 45vh;

header {
  @include column-aligned;
  justify-content: space-around;

  height: $header-height;
  background-size: cover;

  img {
    width: 45%;

    @include desktop {
      width: 17%;
    }
  }

  .button {
    @include column-aligned;
    justify-content: center;

    width: clamp(3rem, 30%, 10rem);
    height: clamp(2rem, 20%, 3rem);
    border-radius: 8px;

    background-color: $theme-green;
    color: white;

    font-size: 1em;
    text-decoration: none;
    text-align: center;

    &:hover {
      background-color: lighten($theme-green, 20%);
    }
    &:active {
      transform: scale(0.8);
    }
  }
}

section#guests {
  @include column-aligned;
  gap: 1.3em;

  padding: $top-padding $side-padding;
  background-color: $bg-gray;
  h2 {
    margin-top: 0.8em;
    margin-bottom: 1em;
    @include desktop {
      margin-top: revert;
      font-size: 2em;
    }
  }

  .guest {
    display: grid;
    grid-template-columns: 1.3fr 2.8fr;
    grid-template-rows: 1fr 2fr;
    grid-template-areas: "avatar name" "avatar text";

    $font-name: 1.1em;
    $font-text: 0.8em;

    img {
      grid-area: avatar;
      width: 100%;
      max-width: 170px;
      align-self: center;
    }
    h3 {
      grid-area: name;
      font-size: $font-name;
      text-align: right;
    }
    p {
      grid-area: text;
      font-size: $font-text;
      text-align: right;
      color: $subtext;
      padding-left: 15px;
    }

    &:nth-child(odd) {
      grid-template-areas: "name avatar" "text avatar";
      grid-template-columns: 2.8fr 1.3fr;

      img {
        justify-self: end;
      }

      h3,
      p {
        text-align: left;
      }

      p {
        padding: 0 15px 0 0;
      }
    }
  }

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr;

    padding: $top-padding $side-padding + 5;
    padding-bottom: $top-padding + 5;

    h2 {
      grid-column: span 3;
      text-align: center;
    }

    .guest {
      @include column-aligned;
      $font-name: 1.6em;
      $font-text: 1.1em;

      gap: 1.3em;

      p {
        text-align: center !important;
        font-size: $font-text;
      }
      h3 {
        text-align: center !important;
        font-size: $font-name;
      }
    }
  }
}

section#learn-more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr;
  text-align: right;

  picture {
    grid-row: span 2;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    padding: $top-padding $side-padding;
  }

  p {
    justify-self: end;
    padding: 10px $side-padding;
    color: $subtext;
    font-size: 0.8em;
  }

  @include desktop {
    height: 80vh;

    h3 {
      font-size: 2em;
      padding: $top-padding + 3 $side-padding + 5;
    }
    p {
      font-size: 1.5em;
      padding: 10px $side-padding + 5;
    }
  }
}

section#team {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10vh 30vh 30vh;
  grid-gap: 0.5em;

  background-color: $theme-magenta;
  color: #fff;
  padding: $top-padding $side-padding;

  h2 {
    grid-column: span 3;
    text-align: center;
  }

  .team-member {
    @include column-aligned;

    color: #fff;
    text-decoration: none;
    height: 28vh;
    justify-content: space-evenly;
    padding: 3%;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 8px;

    img {
      width: 65%;
    }
    h3 {
      font-size: 0.8em;
    }
    &:hover,
    &:active {
      background-color: lighten($theme-magenta, 20%);
    }
  }

  @include desktop {
    grid-template-columns: 12% 12% 12% 12% 12% 12%;
    grid-template-rows: 10vh 40vh;
    justify-content: center;

    h2 {
      grid-column: span 6;
      font-size: 2em;
    }

    .team-member {
      img {
        width: 65%;
      }
      h3 {
        font-size: 1em;
      }
    }
  }
}

section#contact {
  @include column-aligned;

  padding: $top-padding $side-padding;
  gap: 1.5em;
  background-color: $bg-gray;

  @include desktop {
    h2 {
      font-size: 2em;
    }
  }

  form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.5em;

    @include desktop {
      width: 50%;
    }
  }

  input,
  textarea {
    display: block;
    border: 1px solid black;
    background-color: $bg-gray;
    border-radius: 10px;
    height: 3em;
    padding: 0.5em 1em;
    font-size: 0.9em;

    @include desktop {
      font-size: 1.2em;
    }
  }

  textarea {
    resize: none;
    height: unset;
  }

  // Name Field
  input:first-child {
    width: 70%;
  }

  // Button
  input:last-child {
    border: 3px solid #911d64;
    color: #911d64;
    cursor: pointer;
    font-weight: bold;

    &:active {
      background-color: lighten(#911d64, 20%);
      color: white;
    }
  }

  .lds-ring {
    display: none; // inline-block
    position: relative;
    width: 80px;
    height: 80px;

    div {
      box-sizing: border-box;
      display: block;
      position: absolute;
      width: 64px;
      height: 64px;
      margin: 8px;
      border: 8px solid #fff;
      border-radius: 50%;
      animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
      border-color: #911d64 transparent transparent transparent;

      div:nth-child(1) {
        animation-delay: -0.45s;
      }
      div:nth-child(2) {
        animation-delay: -0.3s;
      }
      div:nth-child(3) {
        animation-delay: -0.15s;
      }
    }
    @keyframes lds-ring {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(360deg);
      }
    }
  }
}

footer {
  @include column-aligned;

  background-color: $bg-gray;
  width: 100%;
  gap: 20px;
  padding: $top-padding $side-padding;

  p {
    font-size: 0.5em;
    text-align: justify;
    text-justify: inter-word;
    display: list-item;

    @include desktop {
      font-size: 0.8em;
      max-width: 50%;
    }
  }

  img {
    width: 40%;

    @include desktop {
      width: 20%;
    }
  }
}

.bg_video {
  position: absolute;
  top: 0;
  width: 100%;
  height: $header-height;
  object-fit: cover;
  z-index: -1000;
}

video::-webkit-media-controls-overlay-play-button {
  display: none;
}

.scroll-indicator {
  @include column-aligned;
  grid-column: span 3;
  justify-self: center;
  width: 30px;
  height: 50px;
  border: 2px solid black;
  border-radius: 50px;

  &::before {
    content: "";
    margin-top: 5px;
    width: 10px;
    height: 10px;
    background-color: black;
    border-radius: 100%;
    animation: sdb10 2s infinite;

    @keyframes sdb10 {
      0% {
        transform: translate(0, 0);
        opacity: 0;
      }
      40% {
        opacity: 1;
      }
      80% {
        transform: translate(0, 28px);
        opacity: 0;
      }
      100% {
        opacity: 0;
      }
    }
  }
}

#overlay {
  @include column-aligned;
  position: fixed;
  height: 100%;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: center;
  gap: 2em;

  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

  h2 {
    color: white;
    font-size: 2em;
    margin-bottom: 20px;
  }

  a {
    display: flex;
    align-items: center;

    gap: 20px;
    text-decoration: none;

    font-size: 1.1em;
    @include desktop {
      font-size: 1.5em;
    }

    color: #818181;
    transition: 0.3s;

    svg {
      font-size: 1.5em;
    }

    &:hover {
      color: #f1f1f1;
    }
  }
  .closebtn {
    margin-top: 1em;
    border: 1px solid;
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
  }
}
